* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ---------nav bar---------------- */
nav {
  border: 1px solid red;
  width: 100%;
  height: 40px;
}

.left {
  width: 20%;
  height: 100%;
  border: 1px solid red;
}

.middle {
  width: 55%;
  height: 100%;
}

.right {
  width: 25%;
  height: 100%;
  border: 1px solid red;
}

.suggested-clubs-container {
  margin: 10px;
  height: 55%;
  /* border: 1px solid red; */
}

.suggested-clubs-header {
  font-weight: bold;
  margin: 5px;
}

.suggested-clubs-section {
  background-color: white;
  padding-top: 20px;
  margin: 5px;
  height: 80%;
  /* border: 2px solid red; */
  border-radius: 12px;
  height: 90%;
}

.suggested-club-1 {
  display: flex;
  height: 28.5%;
  width: 100%;
  /* border: 1px solid blue; */
}

.club-img-column {
  display: flex;
  justify-content: center;
  flex: 1;
}

.club-img-1 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.club-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.club-name-column {
  flex: 1;
}

.club-name {
  font-size: 12px;
  font-weight: bold;
}

.club-members {
  font-size: 10px;
  color: rgb(109, 108, 108);
}

.club-posts {
  margin-top: 10px;
  font-size: 10px;
  color: rgb(109, 108, 108);
}

.club-active-events {
  font-size: 10px;
  color: rgb(109, 108, 108);
}

.club-join-column {
  display: flex;
  justify-content: center;
  flex: 1;
  /* border: 1px solid green; */
}

.join-btn {
  /* margin-top: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d3324d;
  height: 30px;
  width: 50px;
  font-weight: bold;
  color: #d3324d;
  border-radius: 10px;
  font-size: 12px;
}

.suggested-view-all {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggested-view-all p {
  color: #d3324d;
  font-weight: bold;
}

.latest-news-container {
  margin: 10px;
  height: 45%;
  border: 1px solid red;
}
