* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ---------nav bar---------------- */
nav {
  border: 1px solid red;
  width: 100%;
  height: 40px;
}

.left {
  width: 20%;
  height: 100%;
  border: 1px solid red;
}

.middle {
  width: 55%;
  height: 100%;
}
.right {
  width: 25%;
  height: 100%;
  border: 1px solid red;
}
