* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ---------nav bar---------------- */
nav {
  border: 1px solid red;
  width: 100%;
  height: 40px;
}

.left {
  width: 20%;
  height: 100%;
  border: 1px solid red;
}

.middle {
  width: 55%;
  height: 100%;
}

.right {
  width: 25%;
  height: 100%;
  border: 1px solid red;
}

.suggested-clubs-container {
  margin: 10px;
  height: 50%;
  border: 1px solid red;
}

.suggested-clubs-header {
  margin: 5px;
}

.suggested-clubs-section {
  margin: 5px;
  border: 1px solid red;
  height: 90%;
}

.suggested-club-1 {
  display: flex;
  height: 33%;
  width: 100%;
  border: 1px solid blue;
}

.club-img-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid green;
}

.club-img-1 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.club-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.latest-news-container {
  margin: 10px;
  height: 45%;
  border: 1px solid red;
}
